In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [3]:
for filename in os.listdir(DATA_DIR):
    print(filename)

2020.csv
2021.csv
2018.csv
2019.csv
2017.csv

In [4]:
path = os.path.join(DATA_DIR, '2021.csv')
df = pd.read_csv(path)

df.head(10)

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,"Hi, Mom","$677,300,000",-,-,"$677,300,000",100%
1,2,Detective Chinatown 3,"$667,144,927",-,-,"$667,144,927",100%
2,3,A Writer's Odyssey,"$125,972,385","$110,779",<0.1%,"$125,861,606",99.9%
3,4,Boonie Bears: The Wild Life,"$77,703,481",-,-,"$77,703,481",100%
4,5,Endgame,"$57,423,149","$23,149",<0.1%,"$57,400,000",100%
5,6,Nazha Reborn,"$56,085,073",-,-,"$56,085,073",100%
6,7,Tom and Jerry,"$39,710,000","$14,110,000",35.5%,"$25,600,000",64.5%
7,8,The Yinyang Master,"$37,690,000",-,-,"$37,690,000",100%
8,9,Big Red Envelope,"$32,800,000",-,-,"$32,800,000",100%
9,10,Master,"$28,692,170",-,-,"$28,692,170",100%

In [5]:
df['Rank']

0        1
1        2
2        3
3        4
4        5
      ...
162    163
163    164
164    165
165    166
166    167
Name: Rank, Length: 167, dtype: int64

In [6]:
my_dataframes = []
csv_files = [x for x in os.listdir(DATA_DIR) if x.endswith(".csv")]

for filename in csv_files:
    print(filename)
    year = filename.replace('.csv', '')
    csv_path = os.path.join(DATA_DIR, filename)
    this_df = pd.read_csv(csv_path)
    this_df['filename'] = filename
    this_df['year'] = year
    print(this_df.head(n=1))
    my_dataframes.append(this_df)

2020.csv
  Rank      Release Group     Worldwide  Domestic      %       Foreign    %.1  \
0    1  The Eight Hundred  $461,341,525  $372,755  <0.1%  $460,968,770  99.9%

   filename  year
0  2020.csv  2020
2021.csv
   Rank Release Group     Worldwide Domestic  %       Foreign   %.1  filename  \
0     1       Hi, Mom  $677,300,000        -  -  $677,300,000  100%  2021.csv

   year
0  2021
2018.csv
  Rank           Release Group       Worldwide      Domestic      %  \
0    1  Avengers: Infinity War  $2,048,359,754  $678,815,482  33.1%

          Foreign    %.1  filename  year
0  $1,369,544,272  66.9%  2018.csv  2018
2019.csv
  Rank      Release Group       Worldwide      Domestic      %  \
0    1  Avengers: Endgame  $2,797,800,564  $858,373,000  30.7%

          Foreign    %.1  filename  year
0  $1,939,427,564  69.3%  2019.csv  2019
2017.csv
  Rank                            Release Group       Worldwide      Domestic  \
0    1  Star Wars: Episode VIII - The Last Jedi  $1,332,539,889  $620,181,382

       %       Foreign    %.1  filename  year
0  46.5%  $712,358,507  53.5%  2017.csv  2017

In [7]:
my_entire_df = pd.concat(my_dataframes)  # to join to dataframes

In [8]:
my_entire_df

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,The Eight Hundred,"$461,341,525","$372,755",<0.1%,"$460,968,770",99.9%,2020.csv,2020
1,2,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020.csv,2020
2,3,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%,2020.csv,2020
3,4,Demon Slayer the Movie: Mugen Train,"$370,570,275",-,-,"$370,570,275",100%,2020.csv,2020
4,5,Tenet,"$363,129,000","$57,929,000",16%,"$305,200,000",84%,2020.csv,2020
...,...,...,...,...,...,...,...,...,...
3234,"3,235",Ayaz,$38,-,-,$38,100%,2017.csv,2017
3235,"3,236",The Marker,$37,-,-,$37,100%,2017.csv,2017
3236,"3,237",Alien 2017 Re-release,$32,-,-,$32,100%,2017.csv,2017
3237,"3,238",American Hero 2017 Re-release,$27,-,-,$27,100%,2017.csv,2017
3238,"3,239",ASYA,$2,-,-,$2,100%,2017.csv,2017

In [9]:
my_entire_df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,1,The Eight Hundred,"$461,341,525","$372,755",<0.1%,"$460,968,770",99.9%,2020.csv,2020
1,2,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020.csv,2020
2,3,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%,2020.csv,2020
3,4,Demon Slayer the Movie: Mugen Train,"$370,570,275",-,-,"$370,570,275",100%,2020.csv,2020
4,5,Tenet,"$363,129,000","$57,929,000",16%,"$305,200,000",84%,2020.csv,2020

In [10]:
my_entire_df.tail()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
3234,"3,235",Ayaz,$38,-,-,$38,100%,2017.csv,2017
3235,"3,236",The Marker,$37,-,-,$37,100%,2017.csv,2017
3236,"3,237",Alien 2017 Re-release,$32,-,-,$32,100%,2017.csv,2017
3237,"3,238",American Hero 2017 Re-release,$27,-,-,$27,100%,2017.csv,2017
3238,"3,239",ASYA,$2,-,-,$2,100%,2017.csv,2017

In [11]:
CACHE_DIR = os.path.join(BASE_DIR, 'cache')
os.makedirs(CACHE_DIR, exist_ok=True)

dataset = os.path.join(CACHE_DIR, 'movies-ranking-dataset.csv')

my_entire_df.to_csv(dataset, index=False)