In [1]:
import os
import pandas as pd

In [2]:
cwd = os.getcwd()
BASE_DIR = os.path.dirname(cwd)
CACHE_DIR = os.path.join(BASE_DIR, 'cache')

working_file = os.path.join(CACHE_DIR, 'movies-ranking-dataset.csv')
output_file = os.path.join(CACHE_DIR, 'movies-box-office-dataset-cleaned.csv')

In [3]:
df = pd.read_csv(working_file)

In [4]:
df['Rank'] = -1

In [5]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year
0,-1,The Eight Hundred,"$461,341,525","$372,755",<0.1%,"$460,968,770",99.9%,2020.csv,2020
1,-1,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020.csv,2020
2,-1,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%,2020.csv,2020
3,-1,Demon Slayer the Movie: Mugen Train,"$370,570,275",-,-,"$370,570,275",100%,2020.csv,2020
4,-1,Tenet,"$363,129,000","$57,929,000",16%,"$305,200,000",84%,2020.csv,2020

In [6]:
df['Domestic %'] = df['%']
df['Foreign %'] = df['%.1']
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1,filename,year,Domestic %,Foreign %
0,-1,The Eight Hundred,"$461,341,525","$372,755",<0.1%,"$460,968,770",99.9%,2020.csv,2020,<0.1%,99.9%
1,-1,Bad Boys for Life,"$426,505,244","$206,305,244",48.4%,"$220,200,000",51.6%,2020.csv,2020,48.4%,51.6%
2,-1,"My People, My Homeland","$422,390,820",-,-,"$422,390,820",100%,2020.csv,2020,-,100%
3,-1,Demon Slayer the Movie: Mugen Train,"$370,570,275",-,-,"$370,570,275",100%,2020.csv,2020,-,100%
4,-1,Tenet,"$363,129,000","$57,929,000",16%,"$305,200,000",84%,2020.csv,2020,16%,84%

In [7]:
# df.drop(columns=['%', '%.1'])
# df.drop(['%', '%.1'], axis=1)
df.drop(['%', '%.1'], axis=1, inplace=True)

In [8]:
df.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,The Eight Hundred,"$461,341,525","$372,755","$460,968,770",2020.csv,2020,<0.1%,99.9%
1,-1,Bad Boys for Life,"$426,505,244","$206,305,244","$220,200,000",2020.csv,2020,48.4%,51.6%
2,-1,"My People, My Homeland","$422,390,820",-,"$422,390,820",2020.csv,2020,-,100%
3,-1,Demon Slayer the Movie: Mugen Train,"$370,570,275",-,"$370,570,275",2020.csv,2020,-,100%
4,-1,Tenet,"$363,129,000","$57,929,000","$305,200,000",2020.csv,2020,16%,84%

In [9]:
to_clean_cols = ['Worldwide', 'Domestic', 'Foreign']


def currency_str_to_int(current_value):
    current_value = current_value.replace('$', '').replace(',', '')
    try:
        current_value = int(current_value)
    except:
        # Takes any row value with "-" and turns into 0
        current_value = 0
    return current_value


def clean(row):
#     print(row)
    for col in to_clean_cols:
        row[col] = currency_str_to_int(row[col])
    return row

df_cleaned = df.apply(clean, axis=1)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,The Eight Hundred,461341525,372755,460968770,2020.csv,2020,<0.1%,99.9%
1,-1,Bad Boys for Life,426505244,206305244,220200000,2020.csv,2020,48.4%,51.6%
2,-1,"My People, My Homeland",422390820,0,422390820,2020.csv,2020,-,100%
3,-1,Demon Slayer the Movie: Mugen Train,370570275,0,370570275,2020.csv,2020,-,100%
4,-1,Tenet,363129000,57929000,305200000,2020.csv,2020,16%,84%

In [10]:
df_cleaned.dtypes

Rank              int64
Release Group    object
Worldwide         int64
Domestic          int64
Foreign           int64
filename         object
year              int64
Domestic %       object
Foreign %        object
dtype: object

In [11]:
# for sorting the data
# when inplace=True the data is modified in place, which means it will return 
# nothing and the dataframe is now updated.

# When inplace=False , which is the default, then the operation is performed
# and it returns a copy of the object.

df_cleaned.sort_values(by=['Worldwide'], inplace=True, ascending=False)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
5555,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
2151,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
5556,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%
5557,-1,Frozen II,1450026933,477373578,972653355,2019.csv,2019,32.9%,67.1%
2152,-1,Black Panther,1346913161,700059566,646853595,2018.csv,2018,52%,48%

In [12]:
df_cleaned.reset_index(inplace=True, drop=True)
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,-1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
1,-1,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
2,-1,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%
3,-1,Frozen II,1450026933,477373578,972653355,2019.csv,2019,32.9%,67.1%
4,-1,Black Panther,1346913161,700059566,646853595,2018.csv,2018,52%,48%

In [13]:
df_cleaned['Rank'] = df_cleaned.index + 1
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7%,69.3%
1,2,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1%,66.9%
2,3,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8%,67.2%
3,4,Frozen II,1450026933,477373578,972653355,2019.csv,2019,32.9%,67.1%
4,5,Black Panther,1346913161,700059566,646853595,2018.csv,2018,52%,48%

In [14]:
df_cleaned['Domestic %'] = round((df_cleaned['Domestic'] / df_cleaned['Worldwide']) * 100, 1)
df_cleaned['Foreign %'] = round((df_cleaned['Foreign'] / df_cleaned['Worldwide']) * 100, 1)

In [15]:
df_cleaned.head()

,Rank,Release Group,Worldwide,Domestic,Foreign,filename,year,Domestic %,Foreign %
0,1,Avengers: Endgame,2797800564,858373000,1939427564,2019.csv,2019,30.7,69.3
1,2,Avengers: Infinity War,2048359754,678815482,1369544272,2018.csv,2018,33.1,66.9
2,3,The Lion King,1656943394,543638043,1113305351,2019.csv,2019,32.8,67.2
3,4,Frozen II,1450026933,477373578,972653355,2019.csv,2019,32.9,67.1
4,5,Black Panther,1346913161,700059566,646853595,2018.csv,2018,52.0,48.0

In [16]:
df_cleaned.dtypes

Rank               int64
Release Group     object
Worldwide          int64
Domestic           int64
Foreign            int64
filename          object
year               int64
Domestic %       float64
Foreign %        float64
dtype: object

In [17]:
df_cleaned.to_csv(output_file, index=False)